<h1>Nouveau Film</h1>
<form>
  <div class="d-flex flex-column w-50">
    <label for="title" class="form-label">Titre</label>
    <input type="text" name="title" id="title" class="form-control" required [(ngModel)]="movie.title"
           value="{{ movie.title }}"/>
  </div>
  <div class="d-flex flex-column w-50">
    <label for="director" class="form-label">Réalisateur</label>
    <input type="text" name="director" id="director" class="form-control" required [(ngModel)]="movie.director"
           value="{{ movie.director }}"/>
  </div>
  <div class="d-flex flex-column w-50">
    <label for="releaseDate" class="form-label">Date de Sortie</label>
    <input type="date" name="releaseDate" id="releaseDate" class="form-control" required
           [(ngModel)]="movie.releaseDate" (ngModelChange)="movie.releaseDate = $event"/>
  </div>
  <div class="d-flex flex-column w-50">
    <label for="synopsis" class="form-label">Synopsis</label>
    <input type="text" name="synopsis" id="synopsis" class="form-control" required [(ngModel)]="movie.synopsis"
           value="{{ movie.synopsis }}"/>
  </div>
  <button type="submit" class="btn btn-warning" (click)="updateMovie()">Modifier</button>
</form>
