<div class="d-flex justify-content-start">
  <h1>Les Films</h1>
  <a routerLink="/add-movie">
    <button class="btn btn-outline-warning ms-3 mt-1">
      Nouveau film
    </button>
  </a>
</div>
<table class="table table-hover table-bordered">
  <thead>
  <tr>
    <th>#</th>
    <th>Titre</th>
    <th>Date de sortie</th>
    <th>Réalisateur</th>
    <th>Note</th>
    <th>Synopsis</th>
  </tr>
  </thead>
  <tbody>
    @for (movie of movies; track movie.id) {
      <tr>
        <td> {{ movie.id }}</td>
        <td>{{ movie.title }}</td>
        <td>{{ movie.releaseDate | date:'dd/MM/yyyy' }}</td>
        <td>{{ movie.director | titlecase }}</td>
        <td>{{ movie.rate }}</td>
        <td>{{ movie.synopsis }}</td>
        <td class="d-flex flex-row">
          <button type="button" class="btn btn-warning" (click)="deleteMovie(movie.id!!)">
            <i class="bi bi-trash"></i>
          </button>
          <button type="button" class="btn btn-success" [routerLink]="['/update-movie',movie.id!]">
            <i class="bi bi-pen"></i>
          </button>
          <button type="button" class="btn btn-danger">
            <i class="bi bi-camera"></i>
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>
